:root {
    /*===== Colors =====*/
    --primaryColor: #2F3035;
    --accentColor: #1C62CD;
    --grayColor: #F0F0F4;
    /*===== Fonts =====*/
    --SFProRegular: 'SFProDisplay-Regular', sans-serif;
    --SFProMedium: 'SFProDisplay-Medium', sans-serif;
    --SFProSemibold: 'SFProDisplay-Semibold', sans-serif;
    --SFProBold: 'SFProDisplay-Bold', sans-serif;
    /*===== Font weight =====*/
    --fontRegular: 400;
    --fontMedium: 500;
    --fontSemibold: 600;
    --fontBold: 700;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    color: var(--primaryColor);
    font-family: var(--SFProRegular);
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--fontRegular);
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header */
/* Header_Top */
.header {
    padding-bottom: 78px;
}
.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 122px;
    font-family: var(--SFProBold);
    font-weight: var(--fontBold);
}
/* .menu__list {
    display: flex;
    column-gap: 50px;
} */
.menu__item {
    display: inline-block;
}
.menu__item + .menu__item {
    padding-left: 50px;
}
.menu__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: var(--fontBold);
    /* color: var(--primaryColor); */
    line-height: 1.2;
}
.header__box {
    display: flex;
    align-items: center;
}
.header__address {
    width: 265px;
    margin-right: 60px;
    padding-left: 30px;
    position: relative;
}
.header__address::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -10px;
    background-image: url('../img/icon-address.svg');
}
.user-list {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.user-list__item {
    padding-right: 10px;
}
.basket {
    position: relative;
}
.basket__num {
    width: 20px;
    height: 20px;
    background-color: var(--accentColor);
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    right: -14px;
    color: #ffffff;
    font-size: 10px;
    line-height: 20px;
    font-family: var(--SFProMedium);
    font-weight: var(--fontMedium);
    text-align: center;
}
/* Header_Bottom */
.menu-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
    background-color: var(--grayColor);
}
.menu-categories__link {
    padding: 15px 0 14px;
    transition: all 0.3s;
    position: relative;
}
.menu-categories__link::before {
    content: "";
    height: 3px;
    width: 0;
    left: auto;
    right: 0;
    bottom: -2px;
    position: absolute;
    background-color: var(--accentColor);
    transition: all 0.3s;
}
.menu-categories__link:hover {
    color: var(--accentColor);
}
.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}
/* Section_Banner */